*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center{
    position: relative;
    height: 500px;
    width: 500px;
    background:linear-gradient(135deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}

.center .img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("./bg6.jpeg");
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: 0.9;
}

.center:hover{
    transform: scale(1.0009);
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.4);
    background-position: 100% 100%;

}