@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin:0;
    background-color: #f4f4f4;
}

/* Global */
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}

.button1{
    height: 36px;
    background:#e8491d;
    border: 0px;
    padding-left: 20px;
    padding-right:20px;
    color:#fff;
}

.dark{
    padding: 15px;
    background: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom:10px;
    border-radius: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

/* Header */
header{
    background: #35424a;
    color: #fff;
    padding-top:30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    display: inline;
    padding: 0 20px 0 0;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top:15px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #ccc;
    font-weight: bold;
}

/* Showcase */
#showcase{
    min-height: 400px;
    background:url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color:#fff;
}

#showcase h1{
    margin-top:100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

/* Newsletter */
#newsletter{
    padding: 15px;
    color: #fff;
    background: #35424e;
}

#newsletter h2{
    float: left;
}

#newsletter form{
    float: right;
    margin-top:15px ;
}

#newsletter input[type='email']{
    padding:4px;
    height: 25px;
    width: 250px;
}

/* Boxes */
#boxes{
    margin-top:20px;
}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align:center;
}

#boxes .box img{
    width:90px;
}

/* sidebar */
#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

#sidebar .quote input, #sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

/* main-col */
#main-col{
    float: left;
    width: 65%;
}

/* services */
ul#services li{
    list-style: none;
    padding: 20px;
    border: #ccc solid 1px;
    margin-bottom: 5px;
    background: #c6c5c6;
}


footer{
    padding: 10px;
    margin-top: 20px;
    color:#fff;
    background: #e8491d;
    text-align: center;
}

/* Media queries */
@media(max-width:768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h2,
    #newsletter form,
    #boxes .box,
    article#main-col,
    #sidebar,
    ul#services {
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    }

    #newsletter button{
        display: block;
        width:100%;
    }

    #newsletter form input[type='email']{
        width:100%;
        margin-bottom:5px
    }
}