*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    font-family: Georgia, serif;
    color: #252525;
}

/* Menu */
.menu{
    background: #252525;
    padding: 20px 0;
    overflow: hidden;
}


.menu-container{
    max-width: 960px ;
    margin: 0 auto;
}

/* .menu-container::after, .menu-container::before{
    content: '';
    display: table;
    clear: both;
} */
a.menu-logo{
    display: block;
    float:left;
    margin-left: 10px;
}

.menu-nav{
    float: right;
    margin-right: 10px;
}

.menu-nav li{
    display: inline-block;
}

.menu-nav li a {
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 1.125em;
}

/* Intro */
.intro{
    background: url("../img/bg-intro.jpg") no-repeat center center/cover;
    padding: 150px 0;
    text-align:center;
    color: #fff;
}

.intro h1{
    text-transform: uppercase;
    font-size: 3em;
}

.intro h1::after{
    content: '';
    display:block;
    width: 20px;
    height:4px;
    background: #fff;
    margin: 10px auto;
}

.intro p{
    font-style: italic;
    font-size: 1.125em;
}

/* Sobre */
.sobre{
    padding: 60px 0;
}

.sobre-container{
    max-width:960px;
    margin: 0 auto;
    overflow:hidden;
}

.sobre h2{
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}

.sobre-item{
    width:460px;
    float: left;
    margin: 0 10px;
}

.sobre-item img{
    display: block;
    max-width:100%;
}

.sobre-item h3{
    font-size: 2.25em;
    background: #252525;
    width:220px;
    color:white;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    line-height: center;
    padding: 5px 0 10px 0;
    top: -25px;
    position: relative;
}

.sobre > p{
    font-size: 1.25em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
}

/* Produtos */
.produtos{
    background: #e7e4d8;
    padding: 60px 0;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
}

.produtos-container{
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.produtos-item{
    width:300px;
    float: left;
    margin: 0 10px 20px 10px;;
}

.produtos-item h2{
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 20px;
}

.produtos-item h2::before{
    content: '';
    display:block;
    width: 100px;
    height: 100px;
    border-radius:50%;
    margin: 20px auto;
    background: currentColor;
    border: 5px solid #e7e4d8;
    box-shadow: 0 0 0 10px currentColor;
}

h2.produto-paulista::before{
    color:#492901;
}

h2.produto-carioca::before{
    color:#c17139;
}

h2.produto-mineiro::before{
    color:#d8a54d;
}

.produtos-item p{
    font-size: 0.875em;
    line-height: 1.4em;
}


.produtos-btn{
    display: block;
    width: 180px;
    border: 3px solid;
    color: #252525;
    margin: 20px auto 0 auto;
    text-align:center;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
}

/* Locais */

.locais{
    max-width:960px;
    padding: 10 0px;
    margin: 0 auto;
}

.locais-item{
    margin: 60px auto;   
}

.locais-item, .locais-item::before{
    content: '';
    display: table;
    clear: both;
}

.locais-item img{
    width: 460px;
    display: block;
    float:left;
    margin: 0 10px;
}

.locais-item > div{
    width: 460px;
    float:left;
    margin: 0 10px;
}

.locais-item h2{
    font-size: 2.25em;
    margin-bottom: 20px;
}

.locais-item p{
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 40px
}

.locais-item a{
    font-size: 1.125em;
    text-transform: uppercase;
    border: 3px solid;
    color: #252525;
    padding: 10px 20px;
}

/* Assine */
.assine{
    background: #e7e4d8;
    padding: 40px 0;
}

.assine-container{
    max-width: 960px;
    margin: 0 auto;
    overflow:hidden;
}

.assine-info{
    width: 460px;
    margin: 0 10;
    float: left;
}

.assine-info h2{
    font-size: 2.25em;
}

.assine-info p {
    font-size: 1.5em;
    font-style: italic;
}

.assine form{
    width: 460px;
    margin: 10px 10px 0 10px;
    float: left;
}

.assine form label{
    display: none;
}

.assine form input{
    width: 320px;
    border: 3px solid #252525;
    background: none;
    font-size: 1.5em;
    font-style: italic;
    font-family: Georgia, serif;
    padding: 10px;
    float:left;
}

.assine button{
    background: #252525;
    font-family: Georgia, serif;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 13px 0;
    color: white;
    width: 140px;
    border: none;
    cursor: pointer;
}

/* Footer */
.footer{
    background: #d6d3c8;
    padding: 30px 0px;
}

.footer-container{
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;

}

.footer p{
    float: left;
    margin: 0 10px;
    font-size: 1.125em;
    line-height: 1.4em;
}

.footer img{
    float: right;
    margin: 0 10px;
    display:block;
}